* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  color: #D1DDE5;
  display: flex;
  font-family: sans-serif;
  justify-content: center;
}

li{
  list-style-type: none;
  margin-bottom: 18px;
}
.container {
  background: #303030;
  margin: 50px;
  padding: 50px;
  border-radius: 25px;
}

.title {
  text-align: center;
  font-family: "Times New Roman", Times, sans-serif ;
  font-weight: normal;
  font-size: 50px;
}

.puzzle{
  display: grid;
  grid-template-columns: 1fr 3fr;
}


.status-action {
  display: flex;
  margin-top: 25px;
  font-size: 25px;
  justify-content: space-around;
  height: 30px;
}

.status span {
  color: #C4BABA;
}
#list{
  padding-top: 60px;
}
.reset, .solve, li {
  cursor: pointer;
  caret-color: transparent;
}

.reset:hover, .solve:hover , li:hover{
  color: #F2EBD3;
}
.grid {
  background: #646F76;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  grid-gap: 8px;
  margin-top: 50px;
  border: 8px solid #646F76;
  border-radius: 10px;
}
.box {
  background: #646F76;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  grid-gap: 4px;
  border-radius: 3px;
  cursor: pointer;
}

.cell, .cell-grid {
  background: #D1DDE5;
  display: grid;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  height: 56px;
  width: 56px;
  color: #353535;
  font-size: 46px;
  border-radius: 3px;
  caret-color: transparent;
  cursor: pointer;
}
.cell-grid{
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  padding-left: 2px;
}
.candidate{
  color: #353535;
  font-size: 14px;
  margin-bottom: 5px;
  margin-left: 4px;
  height: 10px;
  width: 10px;
}
.cell1, .cell-grid1{
  grid-row: 1;
  grid-column: 1;
}
.cell2, .cell-grid2{
  grid-row: 1;
  grid-column:2;
}
.cell3, .cell-grid3{
  grid-row: 1;
  grid-column: 3;
}
.cell4, .cell-grid4{
  grid-row: 2;
  grid-column: 1;
}
.cell5, .cell-grid5{
  grid-row: 2;
  grid-column: 2;
}
.cell6, .cell-grid6{
  grid-row: 2;
  grid-column: 3;
}
.cell7, .cell-grid7{
  grid-row: 3;
  grid-column: 1;
}
.cell8, .cell-grid8{
  grid-row: 3;
  grid-column: 2;
}
.cell9, .cell-grid9{
  grid-row: 3;
  grid-column: 3;
}

